@font-face {
  font-family: Open Sans, Arial, sans-serif;
  src: url(fonts/OpenSans-Bold.ttf)
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Open Sans, Arial, sans-serif;
  src: url(fonts/OpenSans-Regular.ttf)
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;

}
body {
  margin: 0;
}

.first-screen {
  position: relative;
  width: 100%;
  max-width: 640px;
  min-width: 320px;
  height: 100vh;
  padding: 33px 20px 0 20px;
  background-image: url(img/football_767.jpg);
  background-size: cover;
  background-color:#1c1c3e;
}

.first-screen::after {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: #040444;
  opacity: 0.9;
}
 
.first-screen__header {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* не работает свойство fill */
.logo {
  fill: red;
}

.first-screen__header__wrapper {
  margin-top: 15vh;
}

.first-screen__header__wrapper h1 {
  font: normal 700 1.75rem/1.2 Open Sans, Arial, sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ffffff;
}

.header_second-line {
  display: block;
  margin: 30px 0 0 45px;
}

.download-button-block {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 90px;
}

.download-button {
  display: flex;
  width: 280px;  
  height: 35px;
  margin-bottom: 15px;
  font: normal 400 0.5rem/1.5 Open Sans, Arial, sans-serif;
  text-transform: uppercase;
  text-align: left;
  color: #ffffff;
  background-color:#5e42b0;
  border: 0;
  border-radius: 30px;
}

.download-button p {
  margin: 0;
}

.appstore-icon {
  width: 20px;
  height: 24px;
  margin-right: 10px;
  margin-left: 83px;
  fill: #ffffff;
}

.googleplay-icon {
  width: 22px;
  height: 24px;
  margin-right: 10px;
  margin-left: 83px;
  fill: #ffffff;
}

@media screen and (min-width: 641px) and (max-width: 960px) {
  
  .first-screen {
    max-width: 960px;
    background-image: url(img/football_1280.jpg);
  }

  .first-screen__header__wrapper h1 {
    font: normal 700 4rem/1.5 Open Sans, Arial, sans-serif;
    letter-spacing: 5px;
  }

  .header_second-line {
    margin: 0 0 0 45px;
  }

  .download-button-block {
    margin-top: 260px;
  }

  .download-button {
    justify-content: center;
    width: 315px;  
    height: 80px;
    font: normal 400 0.875rem/1.5 Open Sans, Arial, sans-serif;
    border-radius: 50px;
  }

  .download-button:first-child {
    margin-right: 32px;
  }

  .download-button-block {
    flex-direction: row;
    justify-content: center;
  }

  .appstore-icon {
    width: 36px;
    height: 42px;
    margin: 0 30px 0 0;
  }

  .googleplay-icon {
    width: 41px;
    height: 45px;
    margin: 0 30px 0 0;
  }
}